<panel title="Cadastro de Lançamentos da Viagem [{{ viagem?.descricao }}]">
  <row>
    <select-group width="4" label="Categoria" help="Informe a categoria de lançamento" [(ngModel)]="vo.categoria.id" [options]="itensCategoria" id="categoria" [disabled]="isExcluir()"></select-group>
    <input-group width="4" label="Data de referência" help="Informe a data de referência deste lançamento" [(ngModel)]="vo.dataReferencia" id="dataReferencia" [disabled]="isExcluir()" type="date"></input-group>
    <input-group width="4" label="Valor do lançamento" help="Informe o valor do lançamento" [(ngModel)]="vo.valorLancamento" id="valorLancamento" [disabled]="isExcluir()" type="money"></input-group>
  </row>

  <row>
    <textarea-group width="12" label="Observações" help="Observações gerais sobre o lançamento" [(ngModel)]="vo.observacoes" id="observacoes" [disabled]="isExcluir()"></textarea-group>
  </row>

  <panel title="Recibo / Nota / Comprovante">
    <row>
      <col-sm-4>
        <botao text="Selecionar um recibo existente" (click)="selecionarRecibo()"></botao>
      </col-sm-4>

      <col-sm-4>
        <botao text="Cadastrar novo recibo" (click)="novoRecibo()"></botao>
      </col-sm-4>

      <col-sm-4>
        <botao text="Sem recibo para este lançamento" (click)="limparRecibo()"></botao>
      </col-sm-4>
    </row>
    <hr/>

    <row *ngIf="isExibeRecibo()">
      <col-sm-9>
        <row>
          <input-group width="6" label="Data do Recibo / Nota / Comprovante" help="Informe a do documento" [(ngModel)]="vo.recibo.dataReferencia" id="recibo_dataReferencia" [disabled]="!isPodeEditarRecibo()" type="date"></input-group>
          <input-group width="6" label="Número do Recibo / Nota / Comprovante" help="Informe o número do documento" [(ngModel)]="vo.recibo.numeroDocumento" id="recibo_numeroDocumento" [disabled]="!isPodeEditarRecibo()"></input-group>
        </row>

        <row>
          <input-group width="6" label="Recibo cadastrado por" [(ngModel)]="vo.recibo.funcionario.nome" id="recibo_funcionario_nome" [disabled]="true"></input-group>
          <input-group width="6" label="Data do cadastro deste recibo" [(ngModel)]="vo.recibo.dataInserido" id="recibo_dataInserido" [disabled]="true"></input-group>
        </row>
      </col-sm-9>

      <col-sm-3>
        <div class="container-img-button">
          <img id="imgFoto" style="width: 100%;" [src]="getFoto()" class="img-thumbnail image" />
          <div class="middle-img-button">
            <button class="btn btn-info btn-block" (click)="tirarFoto()"><i class="icofont icofont-camera"></i> Tirar foto</button>
            <button class="btn btn-danger btn-block" (click)="limparFoto()"><i class="icofont icofont-trash"></i> Limpar foto</button>
          </div>
        </div>
      </col-sm-3>
    </row>

  </panel>

  <row>
    <col-sm-6></col-sm-6>
    <col-sm-3 *ngIf="!isExcluir()">
      <botao-salvar (click)="salvar()"></botao-salvar>
    </col-sm-3>

    <col-sm-3 *ngIf="isExcluir()">
      <botao-excluir (click)="excluir()"></botao-excluir>
    </col-sm-3>

    <col-sm-3>
      <botao-voltar (click)="voltar()"></botao-voltar>
    </col-sm-3>
  </row>
</panel>
