<panel title="Consulta de Lançamentos da viagem [{{ viagem?.descricao }}]">
  <row>
    <input-group width="3" label="Nome do funcionário do lançamento" help="Pesquise pelo nome do funcionário que fez o lançamento" [(ngModel)]="filtro.funcionario$nome" (ngModelChange)="pesquisar()" id="projeto_nome"></input-group>
    <select-group width="2" label="Categoria" help="Pesquise pela categoria" [(ngModel)]="filtro.categoria$id" (ngModelChange)="pesquisar()" [options]="itensCategoria"></select-group>
    <select-group width="2" label="Crédito / Débito" help="Pesquise pela tipo de lançamento" [(ngModel)]="filtro.tipoLancamento" (ngModelChange)="pesquisar()" [options]="itensTipo"></select-group>

    <col-sm-2>
      <botao-pesquisar [marginTop]="25" (click)="pesquisar()"></botao-pesquisar>
    </col-sm-2>

    <col-sm-2>
      <botao-limpar-pesquisa [marginTop]="25" (click)="limpar()"></botao-limpar-pesquisa>
    </col-sm-2>
  </row>

  <row>
    <col-sm-12>
      <dt-data-table #dt [total]="dados?.total" [data]="dados?.lista" [paginated]="true" (onPaginate)="paginacao($event)" keyEvents="true">
        <column width="4" field="funcionario.nome" header="Lançado por"></column>
        <column width="1" field="categoria.nome" header="Categoria"></column>
        <column width="1" field="dataReferencia" header="Data"></column>
        <column width="1" field="tipoLancamento" header="Crédito / Débito"></column>
        <column width="2" alignment="right" alignmentHeader="right" field="valorLancamento" header="Valor"></column>

        <buttons-right>
          <col-sm-3>
            <botao-voltar [marginTop]="37" (click)="voltar()" text="Voltar às minhas viagens"></botao-voltar>
          </col-sm-3>

          <col-sm-3>
            <botao-alterar [marginTop]="37" (click)="editar()"></botao-alterar>
          </col-sm-3>

          <col-sm-3>
            <botao-excluir [marginTop]="37" (click)="excluir()"></botao-excluir>
          </col-sm-3>

          <col-sm-3>
            <botao-novo [marginTop]="37" (click)="novo()"></botao-novo>
          </col-sm-3>

        </buttons-right>
      </dt-data-table>

    </col-sm-12>
  </row>
</panel>
