<panel title="Minhas viagens">
  <row>
    <input-group width="2" label="Nome do cliente" help="Pesquise pelo nome do cliente" [(ngModel)]="filtro.cliente$nome" (ngModelChange)="pesquisar()" id="cliente_nome"></input-group>
    <input-group width="2" label="Nome do projeto" help="Pesquise pelo nome do projeto" [(ngModel)]="filtro.projeto$nome" (ngModelChange)="pesquisar()" id="projeto_nome"></input-group>
    <select-group width="2" label="Status" help="Pesquise pelo status" [(ngModel)]="filtro.status" (ngModelChange)="pesquisar()" [options]="itensStatusViagem"></select-group>

    <col-sm-3>
      <botao-pesquisar [marginTop]="25" (click)="pesquisar()"></botao-pesquisar>
    </col-sm-3>

    <col-sm-3>
      <botao-limpar-pesquisa [marginTop]="25" (click)="limpar()"></botao-limpar-pesquisa>
    </col-sm-3>
  </row>

  <row>
    <col-sm-12>
      <dt-data-table #dt [total]="dados?.total" [data]="dados?.lista" [paginated]="true" (onPaginate)="paginacao($event)" keyEvents="true">
        <column width="6" field="descricao" header="Descrição"></column>
        <column width="2" field="cliente.nome" header="Cliente"></column>
        <column width="1" field="projeto.nome" header="Projeto"></column>
        <column width="1" field="dataIda" header="Data de ida"></column>
        <column width="1" field="dataVolta" header="Data de volta"></column>
        <column width="1" field="status" header="Status"></column>

        <buttons-right>
          <col-sm-8></col-sm-8>
          <col-sm-4>
            <botao class="btn-primary" text="Ver lançamentos" icon="fa fa-money" (click)="lancamentos()"></botao>
          </col-sm-4>
        </buttons-right>
      </dt-data-table>

    </col-sm-12>
  </row>
</panel>
